<div class="container">
<form (ngSubmit)="createQuestion()" class="formulario" [formGroup]="newQuestion" novalidate>

 <mat-form-field>
    <mat-label class="label">Redacte la pregunta</mat-label>
    <input 
         type="question" 
         name="question" 
         placeholder="question" 
         class="form-control form-control-lg" 
         formControlName="question"
         required
         matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label class="label">Tipos de Preguntas</mat-label>
    <mat-select formControlName="description" (ngModelChange)="defineQuestion()" multiple novalidate>
      <mat-option 
         *ngFor="let qt of descriptionList" 
         formControlName="description" 
         name="description" 
         ngDefaultControl 
         class="form-control form-control-lg" 
         [value]="qt"
         >
          {{qt}} 
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="description == 'MultipleChoice' || description == 'MultipleChoice,Redactar'">
    <section class="example-section">
      
        <input type="text" formControlName="optionAnswer">
        <!-- <button type="button" mat-stroked-button color="warn" (click)="guardarValores()">Guardar Respuestas</button> -->
        <button type="button" mat-stroked-button color="warn" (click)="agregarInput()">Agregar Respuesta</button>
    </section>
    <h2>Opciones de respuestas guardadas: </h2>
    <div *ngFor="let inputValue of listAnswer">
      <h3>{{inputValue}}</h3>
    </div>
      
   </div>

  <mat-form-field *ngIf="description == 'Redactar' || description == 'MultipleChoice,Redactar'">
     <mat-label class="label">Opcion "Redactar"</mat-label> 
     <input 
         type="answer" 
         name="answer"
         placeholder="answer" 
         id="container-label"
         class="form-control form-control-lg" 
         formControlName="answer"
         required
         matInput> 
  </mat-form-field>

  <button mat-raised-button type="submit">Create Question</button>

  
</form>
</div>

