<div class="page">
  <div class="container">
    <h1>Registrate Aqui</h1>

    <form #f="ngForm" (ngSubmit)="registerUser()" novalidate>
      <div class="firstName">
      <input 
         type="firstName" 
         name="firstName" 
         placeholder="FirstName" 
         [(ngModel)]="firstName"
         class="form-control form-control-lg" 
         
         required>
      <input 
         type="lastname" 
         name="lastname" 
         placeholder="Lastname"
         [(ngModel)]="lastname"
         class="form-control form-control-lg"
         
         required>
        </div>
        <div class="email-password">
        <input 
         type="email" 
         name="email" 
         placeholder="Email" 
         [(ngModel)]="email"
         class="form-control form-control-lg"
         
         required>
         <input 
         type="password" 
         name="password" 
         placeholder="Password" 
         [(ngModel)]="password"
         class="form-control form-control-lg"
         
         required>
        </div>
      <button type="submit">Subscribe</button>
    </form>

  </div>

</div>