<div class="page">
  <div class="container">
    <h1>Registrate Aqui</h1>

    <form #f="ngForm" novalidate>
      <div class="name">
      <input 
         type="name" 
         name="name" 
         placeholder="Name" 
         class="form-control form-control-lg" 
         
         required>
      <input 
         type="lastname" 
         name="lastname" 
         placeholder="Lastname" 
         class="form-control form-control-lg"
         
         required>
        </div>
        <div class="email-password">
        <input 
         type="email" 
         name="email" 
         placeholder="Email" 
         class="form-control form-control-lg"
         
         required>
         <input 
         type="password" 
         name="password" 
         placeholder="Password" 
         class="form-control form-control-lg"
         
         required>
        </div>
      <button type="submit">Subscribe</button>
    </form>

  </div>

</div>